<div class="container" fxFlexFill >
  <!-- header button for all, good, neutral and bad -->
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap = "4px">
    <button (click)="onAllPage()">All</button>
    <button (click)="onGoodPage()">Good</button>
    <button (click)="onNeutralPage()">Neutral</button>
    <button (click)="onBadPage()">Bad</button>
    <button (click)="onSharePage()">Share</button>
  </div>
  <div class="all" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap = "4px">
    <form [formGroup]="bikeForm" (ngSubmit)="isEdit? onEditUpdate():onsubmit()">
      <table formArrayName ="bikes">
        <!-- header row -->
        <tr>
          <th>Bike</th>
          <th>Condition</th>
          <th>Comment</th>
        </tr>
        <ng-container *ngFor="let f of bikes.controls; let i = index;">
          <!-- 1st Row -->
          <tr [formGroupName]="i">
            <!-- 1st Col for bike no -->
            <td><input type="text" name="no" formControlName="no" maxlength="6" size="4"></td>
            <!-- 2nd col for condition-->
            <td>
              <select name="condition" id="condition"  formControlName = "condition">
                <option *ngFor="let a of cond" [value]="a">{{a}}</option>
              </select>
            </td>
            <!-- 3rd col for comment -->
            <td><input type="text" name="comment" formControlName = "comment"></td>
            <!-- 4th col -->
            <td><button type="button" (click)="onDelete(i)" [disabled]="isEdit">delete</button></td>
          </tr>
        </ng-container>
      </table>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap = "4px">
        <button type="button" (click)="onAddBike()" [disabled]="bikeForm.invalid || isEdit" > +</button>
        <button type="submit" [disabled]="bikeForm.invalid">{{isEdit?"Update":"Save"}}</button>
        <button type="button" [disabled]="isEdit" (click)="onDeleteAll()">Delete All</button>
      </div>
    </form>
  </div>
  <!-- Saved Section -->
  <hr>
  <!-- {{bikes.value | json }} -->
  <div fxLayout="row" fxLayoutAlign="center center" ><h2>{{this.page}} Bikes {{page=="Share"? "info" :""}}</h2> </div>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <table >
      <tr *ngIf="page !=='Share'">
        <th>Bike</th>
        <th>Condition</th>
        <th>Comment</th>
      </tr>
      <!-- All Bikes -->
      <ng-container *ngIf="bikesInfo.length > 0 && page=='All'">
        <tr *ngFor="let bike of bikesInfo let i = index">
          <td>{{bike.no}}</td>
          <td>{{bike.condition}}</td>
          <td>{{bike.comment}}</td>
          <td><button (click)="onEditSaved(i)">edit</button></td>
          <td><button type="button" (click)="onDeleteSaved(i)" [disabled]="isEdit">delete</button></td>
        </tr>
      </ng-container>
      <!-- Good bikes -->
      <ng-container *ngIf="bikesInfo.length > 0 && page=='Good'">
        <tr *ngFor="let bike of bikesInfo let i = index">
          <ng-container *ngIf="bike.condition == 'good'">
            <td>{{bike.no}}</td>
            <td>{{bike.condition}}</td>
            <td>{{bike.comment}}</td>
            <td><button (click)="onEditSaved(i)">edit</button></td>
            <td><button type="button" (click)="onDeleteSaved(i)" [disabled]="isEdit">delete</button></td>
          </ng-container>
        </tr>
      </ng-container>
      <!-- Neutral bikes -->
      <ng-container *ngIf="bikesInfo.length > 0 && page=='Neutral'">
        <tr *ngFor="let bike of bikesInfo let i = index">
          <ng-container *ngIf="bike.condition == 'neutral'">
            <td>{{bike.no}}</td>
            <td>{{bike.condition}}</td>
            <td>{{bike.comment}}</td>
            <td><button (click)="onEditSaved(i)">edit</button></td>
            <td><button type="button" (click)="onDeleteSaved(i)" [disabled]="isEdit">delete</button></td>
          </ng-container>
        </tr>
      </ng-container>
      <!-- Bad bikes -->
      <ng-container *ngIf="bikesInfo.length > 0 && page=='Bad'">
        <tr *ngFor="let bike of bikesInfo let i = index">
          <ng-container *ngIf="bike.condition == 'bad'">
            <td>{{bike.no}}</td>
            <td>{{bike.condition}}</td>
            <td>{{bike.comment}}</td>
            <td><button (click)="onEditSaved(i)">edit</button></td>
            <td><button type="button" (click)="onDeleteSaved(i)" [disabled]="isEdit">delete</button></td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
    <div fxLayout="column" fxLayoutAlign="start center">
      <!-- Share bikes -->
      <ng-container *ngIf="bikesInfo.length > 0 && page=='Share'">
        <!-- Good Sharing -->
        <h3>Good Bikes</h3>
        <ng-container *ngFor="let bike of bikesInfo let i = index">
          <ng-container *ngIf="bike.condition == 'good'">
            {{bike.no}} - {{bike.comment}} <br>
          </ng-container>
        </ng-container>
        <!-- Neutral Sharing -->
        <h3>Neutral Bikes</h3>
        <ng-container *ngFor="let bike of bikesInfo let i = index">
          <ng-container *ngIf="bike.condition == 'neutral'">
            {{bike.no}} - {{bike.comment}} <br>
          </ng-container>
        </ng-container>
        <!-- Bad Sharing -->
        <h3>Bad Bikes</h3>
        <ng-container *ngFor="let bike of bikesInfo let i = index">
          <ng-container *ngIf="bike.condition == 'bad'">
            {{bike.no}} - {{bike.comment}} <br>
          </ng-container>
        </ng-container>
        <br>
        <button (click)="onCopy()">Copy</button>
      </ng-container>
    </div>
  </div>

</div>

<!-- <app-testing></app-testing> -->
